
<table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
    <thead>
    <tr>
        <th class="mdl-data-table__cell--non-numeric">Material</th>
        <th>Quantity</th>
        <th>Unit price</th>
    </tr>
    </thead>
    <tbody>
    {{#each tableList}}
        <tr>
            <td class="mdl-data-table__cell--non-numeric">{{name}}</td>
            <td>{{quantity}}</td>
            <td>{{price}}</td>
        </tr>
    {{/each}}
    </tbody>
    <tfoot>
        <tr>
            <td class="mdl-data-table__cell--non-numeric">합계</td>
            <td colspan="2"> {{tableTotal}} </td>
        </tr>
    </tfoot>
</table>